<h1>Welcome, <%= user %>!</h1>
<button><a style="color: black; text-decoration: none" href="/logout">Log out</a></button>
<button><a style="color: black; text-decoration: none" href="/members">Members Page</a></button>